[Desktop Entry]
Type=Application
Version=1.5
Name=Mariner
GenericName=File Manager
Comment=Browse and manage your files
Keywords=files;file manager;explorer;browser;folders;directory;nautilus;
Exec=mariner %U
Icon=org.tunaos.mariner
Terminal=false
StartupNotify=true
StartupWMClass=com.github.romgrk.mariner
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;
